{% extends "base.html" %}
{% block head %}
{% block title %}
{% endblock %}
{% endblock %}
{% block body %}
<div class="w-full py-6 bg-[#C0CEE3]">
    <div class="w-11/12 mx-auto my-4 text-center">
        <div class="w-full bg-[#141f3a] text-white rounded-md py-2">
            <h2>Word Initials</h2>
        </div>
        <div class="grid gap-2 grid-cols-10 w-full bg-[#C5C5C5] p-2 rounded-md items-center">
            {% for letter in alphabet %}
            <a href="/initial/{{letter}}" class="py-2 bg-[#0c2e83] hover:bg-[#1f3363] text-white rounded-3xl hover:shadow-lg transition duration-500">{{letter}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="w-11/12 mx-auto my-4 text-center">
        <div class="w-full bg-[#141f3a] text-white rounded-md py-2">
            <h2>Magazine Catalogues</h2>
        </div>
        <div class="grid gap-2 grid-cols-4 w-full bg-[#C5C5C5] p-2 rounded-md items-center">
            {% for catalogue in catalogues %}
            <a href="/catalogues/{{catalogue}}" class="py-2 bg-[#0c2e83] hover:bg-[#1f3363] text-white rounded-3xl hover:shadow-lg transition duration-500">{{catalogue}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="w-11/12 mx-auto my-4 text-center">
        <div class="w-full bg-[#141f3a] text-white rounded-md py-2">
            <h2>Magazine Q's</h2>
        </div>
        <div class="grid gap-2 grid-cols-5 w-full bg-[#C5C5C5] p-2 rounded-md">
            {% for q in qs %}
            <a href="/qs/{{q}}" class="py-2 bg-[#0c2e83] hover:bg-[#1f3363] text-white rounded-3xl hover:shadow-lg transition duration-500">{{q}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}